node_modules
.DS_Store
lerna-debug.log
npm-debug.log
mochawesome-report
.happypack
package-lock.json
yarn.lock
yarn-error.log

blocks/**/lib/
components/**/lib/
components/**/es/
icejs-plugins-internal/*/lib/
packages/ice-faas-render/lib/
plugins/*/lib
.eslintcache
databases
build
.vscode/
.tmp/
dist
.ice
.faas_debug_tmp
proxy_service_manager.ts
index.module.scss.d.ts
.idea
.history
logs
mock
